<div class="container clearfix">
  <div class="people-list" id="people-list">
    <div class="search">
      <input type="text" placeholder="search" />
      <i class="fa fa-search"></i>
    </div>
    <ul class="list">

      <li class="clearfix" *ngFor="let item of liveUserList" id="user-detail">
        <button (click)="SelectId(item.id,item.username)" id="button-list">
          <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01.jpg" alt="avatar" />
          <div class="about">
            <div class="name">{{item.username}}</div>
            <div class="status">
              <i class="fa fa-circle online"></i> online
            </div>
          </div>
        </button>
      </li>


    </ul>
  </div>

  <div class="chat">
    <div class="chat-header clearfix">
      <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/195612/chat_avatar_01_green.jpg" alt="avatar" />

      <div class="chat-about">
        <div class="chat-with">{{nameUser}}</div>
        <!-- <div class="chat-num-messages">1 902 messages</div> -->
      </div>
      <i class="fa fa-star"></i>
      <button (click)="VideoCall()" id="button-call" class="btn btn-success btn-sm"><i nz-icon nzType="video-camera"
          nzTheme="outline"></i>&nbsp;Call</button>
    </div> <!-- end chat-header -->

    <div class="chat-history">
      <!-- The Modal -->
      <div class="popup-box" *ngIf="isVideoCall">
        <div class="popup-content">
          <span (click)="Close()" class="popup-close">&times;</span>
          <div class="popup-header">
            <!-- <h4>{{callingInfo.name}}</h4>
          <h5>{{callingInfo.content}}</h5> -->
          </div>
          <div style="text-align: center;">
            <button (click)="AcceptVideoCall()" class="btn btn-success btn-sm">Accept</button>
            <button (click)="RejectVideoCall()" class="btn btn-danger btn-sm">Reject</button>
          </div>
        </div>
      </div>
      <!-- End model -->
      <ul>
        <li *ngFor="let m of listMessage">
          <div class="message-data">
            <span class="message-data-name"><i class="fa fa-circle online"></i>{{m.user}}</span>
            <span class="message-data-time">10:12 AM, Today</span>
          </div>
          <div class="message my-message">
            {{m.mess}}
          </div>
        </li>

      </ul>

    </div> <!-- end chat-history -->

    <div class="chat-message clearfix">
      <textarea [(ngModel)]="message" type="text" class="form-control" id="message-to-send"
        placeholder="Type your message" name="message-to-send" rows="3"></textarea>

      <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
      <i class="fa fa-file-image-o"></i>

      <button (click)="SendMessage()">Send</button>

    </div> <!-- end chat-message -->

  </div> <!-- end chat -->

</div> <!-- end container -->



<script id="message-template" type="text/x-handlebars-template">
  <li class="clearfix">
    <div class="message-data align-right">
      <span class="message-data-time" >{{time}}, Today</span> &nbsp; &nbsp;
      <span class="message-data-name" >Olia</span> <i class="fa fa-circle me"></i>
    </div>
    <div class="message other-message float-right">
      {{messageOutput}}
    </div>
  </li>
</script>

<script id="message-response-template" type="text/x-handlebars-template">
  <li>
    <div class="message-data">
      <span class="message-data-name"><i class="fa fa-circle online"></i> Vincent</span>
      <span class="message-data-time">{{time}}, Today</span>
    </div>
    <div class="message my-message">
      {{response}}
    </div>
  </li>
</script>